* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--green-dark);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: var(--white);
}

.clear {
    clear: both;
}
