.section-row .info-block {
    float: left;
    text-align: center;
}

.text-info-block {
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 4rem;
    color: var(--light-green)

}

.image-info-block {
    height: 100%;
    width: 25%;
}

.empty-info-block {
    height: 100%;
    width: 25%;
    background-color: var(--green-dark);
}

.image-info-block img {
    height: 100%;
    width: 100%;
}

.section-row {
    height: 325px;
}

